.idea

README.md
schema.json

api/generated
.gitlab-ci.yml
docker-compose*
build
tsconfig.json
node_modules
public
.next

.git
.dockerignore
.editorconfig
.env
.env.demo
.env.dist
.gitignore
.prettierrc
Dockerfile
yarn.lock
